<section>
    <div class="portrait">
        <img src="{{ SIDEBAR_PIC }}" />
    </div>
    <div class="name-cv">
        <div class="name">{{ SIDEBAR_NAME }}</div>
        <div class="cv">
            <a href="{{ SIDEBAR_CV }}"><i class="fa fa-file-pdf-o"></i> CV</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="sub-name">{{ SIDEBAR_SUBNAME }}</div>
    <div class="contact">{{ SIDEBAR_EMAIL }}</div>
</section>

<section class="tags">
    {% for tag in SIDEBAR_TAGS %}
    <span class="tag"><a href="/tag/{{ tag }}/">#{{ tag }}</a></span>
    {% endfor %}
</section>


<section class="posts">
    <header>
        <h3>featured posts</h3>
    </header>
    <ul>
        {% for post in SIDEBAR_POSTS %}
        <li class="post"><a href="/{{ post.url }}/">{{ post.name }}</a></li>
        {% endfor %}
    </ul>
</section>


<section class="medias">
    <header>
        <h3>press</h3>
    </header>
    <div>
        <div class="media-pic">
            <a href="{{ SIDEBAR_PRESS_URL }}"><img src="{{ SIDEBAR_PRESS_PIC }}"></a>
        </div>
        <div class="media-title">
            <a href="{{ SIDEBAR_PRESS_URL }}">{{ SIDEBAR_PRESS_TITLE }}</a>
        </div>
    </div>
</section>


<section class="books">
    <header>
        <h3>books</h3>
    </header>
    <div class="sub-header">Two books on <strong>Python for data science</strong></div>
    <div class="book-1"><a href="/books/#minibook"><img src="/images/minibook.png" /></a></div>
    <div class="book-2"><a href="/books/#cookbook"><img src="/images/cookbook.png" /></a></div>
</section>


<!-- <section class="search">
    <script>
  (function() {
    var cx = '006027474294305969173:cpp1rvft78s';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</section> -->
