<section>
	<div class="portrait">
			<img src="/theme/images/cr.jpg" />
	</div>
    <div class="name-cv">
        <div class="name">Cyrille Rossant, PhD</div>
<!--         <div class="cv">
            <a href="/pdfs/cv.pdf"><i class="fa fa-file-pdf-o"></i> CV</a>
        </div> -->
    </div>
    <div class="clear"></div>
    <div class="sub-name">data | software | neuroscience</div>
	<div class="contact"><i>first</i>.<i>last</i>@gmail.com</div>
	<div class="location">Paris, France</div>
</section>

<section class="tags">
{% for tag in [
				'python',
				'dataviz',
                'maths',
                'gpu',
                'opendata',
                ] %}
    <span class="tag"><a href="/tag/{{ tag }}/">#{{ tag }}</a></span>
{% endfor %}
</section>


<section class="books">
	<header><h3>books</h3></header>
    <div class="sub-header">Two books on <strong>Python for data science</strong></div>
	<div class="book-1"><a href="/books/#minibook"><img src="/images/minibook.jpg"/></a></div>
	<div class="book-2"><a href="/books/#cookbook"><img src="/images/cookbook.jpg"/></a></div>
</section>


<!-- <section class="search">
	<script>
  (function() {
    var cx = '006027474294305969173:cpp1rvft78s';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</section> -->
